{% load thumbnail sekizai_tags %}

{% addtoblock "css" %}
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}cmsplugin_fancybox/fancybox/jquery.fancybox.css" />
{% endaddtoblock %}
{% addtoblock "js" %}
<script type="text/javascript" src="{{ STATIC_URL }}cmsplugin_fancybox/js/jquery.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}cmsplugin_fancybox/fancybox/jquery.fancybox.pack.js"></script>
<script type="text/javascript" src="{{ STATIC_URL }}cmsplugin_fancybox/js/cmsplugin_fancybox.js"></script>
{% endaddtoblock %}

<a href="#fancybox_popup_{{ instance.id }}" class="cmsplugin_fancybox_link" title="{{ instance.target_image_title }}">
{% if instance.link_image %}
<img src="{% thumbnail instance.link_image instance.get_link_image_dimensions %}" 
    alt="{{ instance.link_text }}" 
    {% if instance.link_image_alignment %}class="{{ instance.link_image_alignment }}"{% endif %} />
{% else %}
{{ instance.link_text }}
{% endif %}
</a>
<img style="display: none;" class="fancybox_container" id="fancybox_popup_{{ instance.id }}" src="{% thumbnail instance.target_image instance.get_target_image_dimensions %}" />

